<div id="<%= dom_id report %>">
  <p>
    <strong>Name:</strong>
    <%= report.name %>
  </p>

  <p>
    <strong>Columns:</strong>
    <div class= "d-flex flex-wrap">
      <% @columns.each do |column| %>
        <%= link_to column.name, column_activate_path(column),
        class: column.active == true ? "btn btn-primary mx-1" : "btn btn-secondary" %>
      <% end %>
    </div>
  </p>

  <p>
    <strong>Filter:</strong>
    <%= report.filter %>
    <%= render "reports/filter_select" %>  </p>

  <p>
    <strong>Path:</strong>
    <%= report.report_path %>
  </p>

  <p>
    <strong>Elements:</strong>
    <strong><%= "#{@report.printers.length} elements" %></strong>
    <div class="btn-group m-2">
      <%= link_to "Select All", select_all_printers_path, class: "btn btn-primary" %>
      <%= link_to "Select None", deselect_all_printers_path, class: "btn btn-primary" %>
    </div>
    <div class= "d-flex flex-wrap">
      <% @printers.each do |printer| %>
        <%= link_to printer.name, printer_activate_path(printer),
        class: printer.active == true ? "btn btn-primary mx-1" : "btn btn-secondary" %>
      <% end %>
    </div>
  </p>

  <div class="row m2">
    <div class="btn-group">
      <%= link_to "Hacer informes", @report, class: "btn btn-success" %>
    </div>
  </div>

</div>

