<!DOCTYPE html>
<html>
  <head>
    <title>ChubbTest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="">
  <div>
    <%= render "layouts/navbar" %>
  </div>   
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 d-flex justify-content-center">
      <div class="container m-2 p-3">
        <%= yield %>
      </div>
    </div>
    <div class="col-lg-3"></div>
  </div>
  
  </div>
  </body>
</html>
